.container {
    text-align: center;
  }

  .contact-header {
    color: #123a86 ;
    /* text-shadow: -2px -2px, 2px 2px; */
    padding: 20px;
    font-size: 5.5rem;
    text-align: center;
  }

  .contact-form-header {
    color: #123a86 ;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 2px;
    text-align: center;
    margin-top: 20px;
  }

  .user-email {
    width: 50%;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
  }

  .textarea {
    width: 50%;
    height: 200px;
    position: relative;
    margin-bottom: 10px;
    overflow: auto;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
  }


  .contact-me-links {
    color: #f7f7f7 ;
    font-weight: bold;
    text-shadow: -1px 1px 2px black;
    font-size: 2rem;
    letter-spacing: 0.0375rem;
    text-decoration: none;
  }

  .container a:focus {
    color: #e1540d;
  }
  .container a:hover {
    color: #d73905;
    text-decoration: none;
  }
  .button {
    background-color: #123a86 ;
    color: #f35100;
    font-size: 1.5rem;
    text-shadow: -1px 1px 2px black;
    width: 200px;
    height: 50px;
    border: 2px solid #f25406;
    box-shadow: 1px 2px 2px rgb(0, 0, 0);
    border-radius: 8px;
    margin-bottom: 30px;
  }

  .links-container {
    background-color: #123a86 ;
    padding: 1.5rem;
    width: fit-content;
    margin: auto;
    border: 2px solid #e14b00;
    border-radius: 8px;
  }


  