.resume-header {
    color: #123a86 ;
    /* text-shadow: -2px -2px 8px, 2px 2px 8px; */
    padding: 20px;
    font-size: 5.5rem;
    text-align: center;
  }
  .resume-download {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.603);
    text-align: center;
    background-color: #123a86;
    width: fit-content;
    margin: auto;
    padding: 1rem;
    border: 2px solid #8b4007;
    border-radius: 8px;
  }

  .coding-icons {
    color: #123a86 ;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: -1px 1px 2px #000000;
    text-align: center;
  }
  .icons {
    color: #dc7a4a;
    font-size: 3.5rem;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.603);
    text-align: center;
    list-style-type: none;
    letter-spacing: 1rem;
  }
  .resume-link {
    color: #dc7a4a;
  }
  .resume-download a {
    text-decoration: none;
  }
  .resume-download a:focus {
    color: #36c25e;
  }
  .resume-download a:hover {
    color: #d73905;
    text-decoration: none;
  }